<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.can">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/can"
        android:label="@string/app_name"
        android:roundIcon="@drawable/can"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ContatoActivity"></activity>
        <activity android:name=".activity.HistoriaActivity" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.JogadoresActivity" />
        <activity android:name=".activity.JogosActivity" />
        <activity android:name=".activity.ClubeActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>